{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-async-generator-functions",
        "transform-object-rest-spread"
    ]
}
